extends ./layout.jade
block content
  section.post
    .container
      .row
        .col-lg-10.col-lg-offset-1
          .placeholder
          img.img-responsive(src='/static/img/blog/chicago/#{post.mainImage}')
          h1 #{post.title} 
            //- button(id="#{post.key}").mdl-button.mdl-js-button.mdl-button--icon.left-margin 
            //-   i.material-icons share
            //- ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for="#{post.key}")
            //-   li.mdl-menu__item Facebook
            //-   a(class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Checkout%20Bretts%20latest%20blog%20post:%20#{post.title}")
            //-     li.mdl-menu__item Twitter
            //-   li.mdl-menu__item Google+
          h5.text-faded #{post.date}
          a.mdl-button.mdl-button--accent.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.wow.tada(href='#{post.imageGallery}') Gallery
          .placeholder-small
          p !{post.description}
